@model System.Data.DataTable
@using System.Data

@{
    ViewData["Title"] = "Import";
}

@*    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>
*@

<form id="upload-form">
    <input type="file" name="file" id="file-input">
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Model != null)
                {
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="table-wrapper">
                                        <table>
                                            <thead>
                                                <tr>
                                                    @for (int i = 1; i < Model.Columns.Count; i++)
                                                    {
                                                        <th>@Model.Columns[i].ColumnName</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (DataRow row in Model.Rows)
                                                {
                                                    <tr>
                                                        @for (int i = 1; i < Model.Columns.Count; i++)
                                                        {
                                                            <td>@row[Model.Columns[i].ColumnName]</td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr />
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">بستن</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    const fileInput = document.getElementById('file-input');
    fileInput.onchange = function () {
        const formData = new FormData();
        formData.append('file', fileInput.files[0]);
        $.ajax({
            url: '@Url.Action("Index","Home")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log('ohom', data)
                $('#exampleModal').modal('show'); // Open the modal
                $('#exampleModal .modal-body').html(data); // Display the data in the modal

            }
        });
    };
</script>

<style>
    .modal-content {
        width: 200%;
        height: 400px;
    }
</style>



@*
<form id="upload-form">
    <input type="file" name="file" id="file-input">


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    @if (Model != null)
                    {
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-body">

                                        <div class="table-wrapper">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        @for (int i = 1; i < Model.Columns.Count; i++)
                                                        {
                                                            <th>@Model.Columns[i].ColumnName</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (DataRow row in Model.Rows)
                                                    {
                                                        <tr>
                                                            @for (int i = 1; i < Model.Columns.Count; i++)
                                                            {
                                                                <td>@row[Model.Columns[i].ColumnName]</td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <hr />
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</form>

<script>
    const fileInput = document.getElementById('file-input');
    fileInput.onchange = function () {
        const formData = new FormData();
        formData.append('file', fileInput.files[0]);
        $.ajax({
            url: '@Url.Action("Index","Home")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log('ohom', data)
                $('#myModal').modal('show'); // باز کردن مودال
                $('#myModal .modal-body').html(data); // نمایش دادن دیتا در مودال
            }

        });
    };

</script>
*@